@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}

<form id="form">
    <div class="row text-left">
        <div class="col-md-6">
            <h2>Name</h2>
            <input class="form-control" type="text" name="name" id="name" placeholder="Enter the name" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-6">
            <h3>Pipeline tasks</h3>
            <div class="tasks-in-pipeline"></div>
        </div>
        <div class="col-md-6">
            <h3>All tasks</h3>
            <ul class="list-group text-left">
                @foreach (var task in Model.Tasks) {
                    <li class="list-group-item">
                        <input type="hidden" name="_id" value=@task.Id>
                        <p><b>@task.Name</b></p>
                        <p>Average Time: @task.AverageTime</p>
                        <button class="btn btn-primary btn-add" type="button">Add</button>
                    </li>
                }
            </ul>
        </div>
    </div>

    <br />

    <button class="btn btn-success">Save</button>
    <a asp-controller="Pipeline" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
