@model Core.Models.IPipelineTask
@{
    ViewData["Title"] = "Create task";
}

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}

<div class="text-center">
    <h1 class="display-4">Create Task</h1>

    <div class="text-left">
        @using (Html.BeginForm("Add", "Task", FormMethod.Post)) {
            <div class="text-center">
                <div class="form-group">
                    <label asp-for="Name">Name: </label>
                    <input asp-for="Name" type="text" />
                    <span asp-validation-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="AverageTime">AverageTime: </label>
                    <input asp-for="AverageTime" type="number" />
                    <span asp-validation-for="AverageTime" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Save" />
                    <a asp-controller="Task" asp-action="Index" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        }
    </div>
</div>